{% extends 'base.html' %}

{% load bootstrap_toolkit %}

{% block content %}
	<div class="jumbotron">
		<hr>
		<h4 align="center">Please sign in using your company name as the subdomain for the main website</h4>
		<h5 align="center">If you are not sure what to do, please use the search feature below and login to your company's teemo website</h5>
		<hr>
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-5">
				<input id="comp-search" class="form-control" type="text" placeholder="Company Name">
			</div>			
			<div class="col-md-1">
				<button class="btn btn-default search-for-company"><span class="glyphicon glyphicon-search"></span> Search</button>
			</div>
			<div class="col-md-3"></div>
		</div>
	</div>
	<hr>
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-6 well signup">
			<form action="/register/" method="POST">
				<h4 align='center'>Please SignUp, if you want to use Teemo in your organization</h4>
				<br>
				{% csrf_token %}
				{% for field in form %}
					{% if field.html_name == 'role' %}
						<span class="help-block">
							{{ field.help_text }}
						</span>
					{% endif %}				
					<p class="signupfields">{{ field }}</p>
				{% endfor %}
				<br>
				
				<p><input class="tac" type="checkbox"> I Agree to the <a href="">Terms & Conditions</a> specified by the Teemo Website</p>
				<br>
				<center>
					<button class="btn btn-large btn-primary" type="submit">
						Register
					</button>
				</center>
			</form>
		</div>
		<div class="col-md-3"></div>
	</div>
	<hr>
	<div class="jumbotron">
		<h5 align="center">
			<b>If your company is not listed (or) if you want to to bring Teemo to your workspace</b>
		</h5>
		<h4 align="center">
			Please contact us at <a href="mailto:hello@teemo.com?Subject=Greetings">hello@teemo.com</a>. We will soon be there, knocking at your doors :).
		</h4>
	</div>
{% endblock %}