<!DOCTYPE html>
<html>
 <head>
    
	<title>
		{% block title %}
			Teemo
		{% endblock %}		
	</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">
	
	<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/ion.calendar.css">
	<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css">
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">	

	<script src="{{ STATIC_URL }}js/ion.calendar.min.js"></script>
	<script src="{{ STATIC_URL }}js/jquery.shorten.js"></script>
	<script src="{{ STATIC_URL }}js/moment+langs.min.js"></script>	
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
	
</head>
<body>

	<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
	        <div class="navbar-header">
	          <a href="../" class="navbar-brand">Teemo</a>
	          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	        </div>
	        <div class="navbar-collapse collapse" id="navbar-main">
	          <ul class="nav navbar-nav navbar-right">
	            {% block menubar %}

	            	<li><a href="/about/">About</a></li>
		            <li><a href="/pricing/">Pricing</a></li>
		            <li><a href="/faq/">FAQ</a></li>		            
					<li><a href="/auth/">Sign Up / Login</a></li>

	            {% endblock %}
	          </ul>
	        </div>
        </div>
    </div>
    {% block content %}
    	<div class="jumbotron">
	    	<div class="container">
	    		<br>
	    		<h1 align="center"><b>Teemo</b></h1>
	    		<p align="center">Let us take care of your productivity, while you rock the world !!!</p>
	    	</div>
	    </div>
	    <hr>
		<div class="container">
			<div class="row">
				<div class="col-md-4" align="center">
					<h3>Heading</h3>
					<p align="center">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, distinctio, quaerat, atque similique recusandae voluptatem explicabo tenetur sequi earum optio voluptate ipsum laudantium officia quibusdam molestiae minima rem sunt a!
					</p>
				</div>
				<div class="col-md-4" align="center">
					<h3>Heading</h3>
					<p align="center">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, animi magni enim quasi deserunt beatae officia voluptate quam quod molestias laboriosam nisi dicta molestiae voluptas perferendis modi inventore eius non.
					</p>
				</div>
				<div class="col-md-4" align="center">
					<h3>Heading</h3>
					<p align="center">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum, eius, ipsa recusandae quo eos praesentium nesciunt ullam culpa cupiditate deserunt id animi odit eum! Cum, voluptate quae laborum est neque.
					</p>
				</div>
			</div>
			<hr>
			
		</div>
    {% endblock %}
    
	<hr>
	<div class="container">
		<div align="center" class="footer">
			<h5>Made with Love, Django and Lots of Coffee</h5>
			<h6>&copy; <a href="https://github.com/vijayestodos"><b>Vijay Sharma Yellepeddi</b></a></h6>
		</div>
	</div>
</body>
</html>