<html>
<head>
	
	<title>Teemo</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
	<link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootswatch/3.0.0/spacelab/bootstrap.min.css">
	<link rel="stylesheet" href="style.css">
	<script src="jquery.shorten.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	
	<script type="text/javascript">

		$(function(){
			$('.ovftxt').shorten({
				showChars:120,
				moreText:'More',
				lessText:'Close',
			});
		});

	</script>

</head>
<body>
	<a name="top"></a>
	<div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
	        <div class="navbar-header">
	          <a href="../" class="navbar-brand">Teemo</a>
	          <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	            <span class="icon-bar"></span>
	          </button>
	        </div>
	        <div class="navbar-collapse collapse" id="navbar-main">
	          <ul class="nav navbar-nav">
	            
	          </ul>

	          <ul class="nav navbar-nav navbar-right">
	            
	            <li><a href="#">Home</a></li>
	            <li><a href="#">Connect</a></li>
				<li><a href="#">Clock In</a></li>
				<li><a href="#">Logout</a></li>

	          </ul>

	        </div>
        </div>
    </div>
    
    <hr>
    <br><br>
	<div class="container">
		<div class="content">
			<div class="row">
				<div class="col-md-3">
					<h4>Welcome Vijay Yellepeddi,</h4>
					
				</div>
			</div>
			<br>
			<div class="row">
				<div class="col-md-3 empmenu">
					<ul class="list-group">
						<a href="#" class="list-group-item">My Tasks <span class="badge">3</span></a>
						<a href="#" class="list-group-item">Completed Tasks</a>
						<a href="" class="list-group-item">Project Board <span class="badge">42</span> </a>
						<a href="" class="list-group-item">Team Min.O.Mee</a>
						<a href="" class="list-group-item">Team Tree</a>
						<a href="" class="list-group-item">Self Details</a>
					</ul>	
				</div>

  
  				<div class="col-md-9 empdet panel panel-default well">
					<div class="panel-heading">
					    <h4 class="panel-title"><b>Project Board</b></h4>
					</div>
					<div class="panel-body">
						<div class="row">
							
							<div class="col-md-12 boarditem panel panel default">
								<div class="panel-heading">
									<h6 class="panel-title"><b>Heading</b></h6>
								</div>
								<div class="panel-body ovftxt">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, sed, eveniet, at, modi veritatis beatae quaerat quasi molestiae unde ad culpa ipsa placeat! Officiis soluta modi vel veritatis recusandae omnis! <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, aut, nobis, quis consectetur soluta eveniet omnis est voluptatem similique natus dolorem facilis vitae vero culpa animi at perspiciatis commodi ipsum!</div>
									<div>Nam, accusamus, officia, debitis commodi labore libero dolores voluptatem molestiae porro alias corporis fugiat suscipit quis iure nesciunt harum doloribus unde quasi expedita provident iusto ducimus illum quidem et ratione.</div>
									<div>Ratione, exercitationem, voluptates, architecto laudantium eos accusamus velit facere cupiditate quasi quo adipisci illo aperiam totam esse provident animi doloremque perferendis similique atque repudiandae rem itaque placeat aspernatur repellat officia.</div>
									<div>In, nesciunt dolore sed. Recusandae, quia, natus minus voluptas velit eligendi voluptatum dolores necessitatibus sunt illum culpa odit repudiandae numquam voluptatem quae nesciunt iure eaque maxime cum a aliquam similique.</div>
								</div>
							</div>
							
						</div>
						<div class="row">
							
							<div class="col-md-12 boarditem panel panel default">
								<div class="panel-heading">
									<h6 class="panel-title"><b>Heading</b></h6>
								</div>
								<div class="panel-body ovftxt">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, sed, eveniet, at, modi veritatis beatae quaerat quasi molestiae unde ad culpa ipsa placeat! Officiis soluta modi vel veritatis recusandae omnis! <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, aut, nobis, quis consectetur soluta eveniet omnis est voluptatem similique natus dolorem facilis vitae vero culpa animi at perspiciatis commodi ipsum!</div>
									<div>Nam, accusamus, officia, debitis commodi labore libero dolores voluptatem molestiae porro alias corporis fugiat suscipit quis iure nesciunt harum doloribus unde quasi expedita provident iusto ducimus illum quidem et ratione.</div>
									<div>Ratione, exercitationem, voluptates, architecto laudantium eos accusamus velit facere cupiditate quasi quo adipisci illo aperiam totam esse provident animi doloremque perferendis similique atque repudiandae rem itaque placeat aspernatur repellat officia.</div>
									<div>In, nesciunt dolore sed. Recusandae, quia, natus minus voluptas velit eligendi voluptatum dolores necessitatibus sunt illum culpa odit repudiandae numquam voluptatem quae nesciunt iure eaque maxime cum a aliquam similique.</div>
								</div>
							</div>
							
						</div><div class="row">
							
							<div class="col-md-12 boarditem panel panel default">
								<div class="panel-heading">
									<h6 class="panel-title"><b>Heading</b></h6>
								</div>
								<div class="panel-body ovftxt">
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum, sed, eveniet, at, modi veritatis beatae quaerat quasi molestiae unde ad culpa ipsa placeat! Officiis soluta modi vel veritatis recusandae omnis! <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quisquam, aut, nobis, quis consectetur soluta eveniet omnis est voluptatem similique natus dolorem facilis vitae vero culpa animi at perspiciatis commodi ipsum!</div>
									<div>Nam, accusamus, officia, debitis commodi labore libero dolores voluptatem molestiae porro alias corporis fugiat suscipit quis iure nesciunt harum doloribus unde quasi expedita provident iusto ducimus illum quidem et ratione.</div>
									<div>Ratione, exercitationem, voluptates, architecto laudantium eos accusamus velit facere cupiditate quasi quo adipisci illo aperiam totam esse provident animi doloremque perferendis similique atque repudiandae rem itaque placeat aspernatur repellat officia.</div>
									<div>In, nesciunt dolore sed. Recusandae, quia, natus minus voluptas velit eligendi voluptatum dolores necessitatibus sunt illum culpa odit repudiandae numquam voluptatem quae nesciunt iure eaque maxime cum a aliquam similique.</div>
								</div>
							</div>
							
						</div>
					</div>
				</div>
			</div>
		</div>
		<p class="ribut"><a href="#top" class="btn btn-primary">Go to Top</a></p>
		<hr>
	</div>
	
	<div class="footer">
		<h5>Made with Love, Django and Lots of Coffee</h5>
		<h6>&copy; <a href="https://github.com/vijayestodos"><b>Vijay Sharma Yellepeddi</b></a></h6>
	</div>
</body>
</html>