{% extends 'base.html' %}

{% block content %}
	<div class="jumbotron">
		<br>
		
		<h3 align="center">
			if(sizeofTeam <= 10) { printf "<b>Teemo is FREE</b>"; }

		</h3>
	</div>
	<div class="container">
		<div class="row">
			<div class="col-md-4" align="center">
				<h3>Unlimited</h3>
				<br>
				<ul class="list-group">
					<li class="list-group-item">Unlimited Team Size</li>
					<li class="list-group-item">2 TB Storage</li>
					<li class="list-group-item">Lifetime Free Updates & new Features</li>
					<li class="list-group-item">$199 / mo</li>
					<br>
					<button class="btn btn-info" align="center">
							Sign Up
					</button>
				</ul>
			</div>
			<div class="col-md-4" align="center">
				<h3>Professional</h3>
				<br>
				<ul class="list-group">
					<li class="list-group-item">10 < Team Size < 1000</li>
					<li class="list-group-item">100 GB Storage</li>
					<li class="list-group-item">Free Security Updates only</li>
					<li class="list-group-item">$19 / mo</li>
					<br>
					<button class="btn btn-info" align="center">
							Sign Up
					</button>
				</ul>
			</div>
			<div class="col-md-4" align="center">
				<h3>Starter</h3>
				<br>
				<ul class="list-group">
					<li class="list-group-item">Team Size <= 10</li>
					<li class="list-group-item">5 GB Storage</li>
					<li class="list-group-item">No Free Updates or new Features</li>
					<li class="list-group-item">Free</li>
					<br>
					<button class="btn btn-info" align="center">
							Sign Up
					</button>
				</ul>
			</div>
		</div>
	</div>
{% endblock %}